@page "/"

<section class="section">
    <div class="level">
        <div class="level-left" style="flex-shrink: 1;">
            <div class="box is-shadowless has-background-black-ter has-text-light">
                <h1 class="title has-text-light">Archer Harmony</h1>
                <h2 class="subtitle has-text-light">
                    IT Applications Analyst
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                    commodo odio non nunc imperdiet consequat. Nulla euismod fringilla
                    tempor. Pellentesque ut purus sed odio lobortis eleifend. Suspendisse
                    potenti. Vestibulum efficitur hendrerit mauris vitae faucibus. Proin
                    et nibh gravida, dictum nibh eget, volutpat nunc. Phasellus fringilla
                    viverra tincidunt. Sed lorem libero, bibendum eu orci id, consequat
                    suscipit augue. Pellentesque tincidunt enim ut pretium laoreet. Fusce
                    id felis elementum, elementum sapien eu, egestas justo. Praesent
                    scelerisque nec est et mollis. Aenean sem dolor, venenatis eget nibh
                    ac, posuere scelerisque neque. Vestibulum maximus enim posuere lorem
                    molestie hendrerit. Vestibulum sed purus in metus fringilla euismod.
                    Morbi placerat mattis tortor et fermentum. Pellentesque vel nunc eget
                    felis imperdiet finibus. Cras in gravida dui. Praesent porttitor enim
                    arcu, vel bibendum risus eleifend consequat. Cras eget augue id lectus
                    mattis accumsan. Aenean quis purus accumsan, tempor justo vel,
                    suscipit turpis. Maecenas congue neque id erat bibendum commodo.
                    Quisque eget neque et ligula vehicula consectetur.
                </p>
            </div>
        </div>
        <div class="level-right">
            <div class="box is-shadowless has-background-black-ter">
                <figure class="image">
                    <img class="is-rounded" width="400" src="https://assets.archerharmony.com/archer_harmony.jpg" />
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <h1 class="title">Projects</h1>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child">
                <h2 class="title is-4">NotKace</h2>
                <a href="https://notkace.archerharmony.com" target="_blank">
                    <figure class="image is-1by1">
                        <img src="https://assets.archerharmony.com/notkace.png">
                    </figure>
                </a>
                <p>NotKace is written in Typescript with Vue JS. It consumes an API I wrote in ASP.NET Core.</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child">
                <h2 class="title is-4">Life Force Books</h2>
                <a href="https://lifeforcebooks.archerharmony.com" target="_blank">
                    <figure class="image is-1by1">
                        <img src="https://assets.archerharmony.com/lifeforcebooks2.jpg">
                    </figure>
                </a>
                <p>This is a rewrite of my grandfather's website, lifeforcebooks.com, in React JS. It's currently just an unfinished mirror of the live site, however if I get back to it I plan to make improvements.</p>
            </div>
        </div>
    </div>
</section>